/* ~~~ CSS Main Selectors (Specifity Hierarchy)  ~~~*/

/* Element Selector */
h1 {
    color: gold;
}

/* Class Selector */

/* .subtitle {
    color: slategray;
} */

/* ID selector */

#services {
    color: blueviolet;
}

/* Inline CSS --
<h2 class="subtitle" style="color: green;">Contact Us</h2> */


/* ~~~ Pseudoselectors ~~~ */

h1:hover {
    color: brown;
}

li:first-child {
    color: magenta;
}

li:last-child {
    color: peru;
}

li:nth-child(2) {
    color: seagreen;
}

 li:only-child {
    color: black;
} 



#sport-link:link{
    color: blue;
}

#google-link:visited{
    color: red;
}

/* ~~~ Advanced Selectors ~~~ */

h2 + a {
    color: red;
}

textarea ~ button {
    color: rgb(163, 161, 163);
}

ul > li {
    color: salmon;
}

ul li {
    color: brown;
}

/* ~~ Attribute selectors ~~ */

h2[class=subtitle] {
    color: blue;
}

img[src^="img/"] {

    border: 5px solid black;
}

p[class$=roli] {
    background: red;
}

p[class*="*"] {
    color: green;
}

h2[class~=c3] {
    background: blue;
}

h3[class|=guion] {
    color: whitesmoke;
    background: black;
}

