/*  ~~~ Coloring Text ~~~ */

body {
    background: #c9c3c9;
}

/* Classic/Traditional */

.color-traditional {
    color: red;
}

/* Hexadecimal */
.hex {
    color: #0000ff;
}

/* rgb format */
#rgb {
    color: rgb(255, 0, 0);
}


/* ~~~ Background Color ~~~ */

#back-color {
    background: #ea93ea;
}

.back-green {
    background: #93eaaa;
}

/* ~~~ Background image ~~~ */

/* Local image */
#back-image {
    background: url("../img/beagles.jpg");
}

/* Internet image */
.imgp {
    background: url("https://as01.epimg.net/meristation/imagenes/2015/02/16/noticia/1424082600_173261_1532458530_portada_normal.jpg");
    color: whitesmoke;
}
