/*  ~~~ Coloring Text ~~~ */

body {
    background: #c9c3c9;
}

/* Classic/Traditional */

.color-traditional {
    color: red;
}

/* Hexadecimal */
.hex {
    color: #0000ff;
}

/* rgb format */
#rgb {
    color: rgb(255, 0, 0);
}

/* rgba (alpha for opacity and transparency */

#rgba {
    color: rgba(255, 0, 0, 0.4);
}


/* ~~~ Background Color ~~~ */

#back-color {
    background: #ea93ea;
}

.back-green {
    background: #93eaaa;
}

/* ~~~ Background image ~~~ */

/* Local image */
#back-image {
    background: url("../img/beagles.jpg");
}

/* Internet image */
.imgp {
    background: url("https://as01.epimg.net/meristation/imagenes/2015/02/16/noticia/1424082600_173261_1532458530_portada_normal.jpg");
    color: whitesmoke;
}

/* ~~~ Other Background Properties ~~~ */

/* Repeat propert */

/* Repeat (default)  */

#repeat-prop {
    height: 400px;
    width: 70%;
    background: url(../img/fat-cat.jpg);
    background-repeat: repeat;
    color: whitesmoke;
}

/* No-repeat */
#non-repeat-prop {
    height: 400px;
    width: 70%;
    background: url(../img/fat-cat.jpg);
    background-repeat: no-repeat;
    background-color: steelblue;
    color: whitesmoke;
}

/* background-size property */

#size-normal {
    height: 400px;
    width: 70%;
    background: url(../img/fat-cat.jpg);
    background-size: 50px 100px;
    color: whitesmoke;
}

/* Cover value */
#size-cover {
    height: 400px;
    width: 70%;
    background: url(../img/fat-cat.jpg);
    background-size: cover;
    color: whitesmoke;
}

/* Cointain value */
#size-contain {
    height: 400px;
    width: 70%;
    background: url(../img/fat-cat.jpg);
    background-size: contain;
    color: whitesmoke;
}

/* ~~~ Gradients ~~~ */

#linear {
    height: 400px;
    width: 70%;

    background: linear-gradient(180deg, red, rgba(0, 0, 0, 0.3));
}

.radio {
    height: 400px;
    width: 70%;

    background: radial-gradient(circle, red 10%, black 25%, gray 50%);
}
