/* Import Roboto Font */
@import url(/css/fonts.css);

/* Import Joan Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

/* Default body style */
body {
    background: #bcbfb5;
}

/* ~~~ Type of Units (Exercises) ~~~ */

/* Exercise 1: Absolutes */
#absolute {
    height: 3cm;
    width: 100pt;
    font-size: 30px;
    background: red;
}

/* Exercise 2: Relatives */
#relative {
    height: 20vh;
    width: 10%;
    font-size: 2rem;
    background: blue;

}   

/* ~~~ Text Manipulation (Exercises) ~~~ */

/* Exercise 1: text-decoration */
#underline {
    text-decoration: underline;
}

#overline {
    text-decoration: overline;
}

#trought {
    text-decoration: line-through;
}

/* Exercise 2: text-transform */

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

/* Exercise 3: text-align */

.align-center {
    text-align: center;
}

.align-right {
    text-align:right;
}

.align-left {
    text-align: left;
}

/* Exercise 4: Justify alignment */

.justify {
    text-align: justify;
}

/* ~~~ Font Size, Bolding & Style (Exercises) ~~~ */

/* Exercise 1: font-size */

.size-large {
    font-size: 2rem;
}

.size-small {
    font-size: 0.75rem;
}

/* Exercise 2: font-weight */

.weight-large {
    font-weight: 800;
}

.weight-small {
    font-weight: 100;
}

/* Exercise 3: font-style */

.style-normal {
    font-style: normal;
}

.style-italic {
    font-style: italic;
}

#style-oblique {
    font-style: oblique 30deg;
}

/* ~~~~~ Font Families (Exercises) ~~~~~ */

/* Exercise 1: Serif Font Family */

.serif-family {
    font-family: 'Times New Roman', Times, serif;
}

/* Exercise 2: Sans Serif Font Family */

.sans-serif-family {
    font-family: Arial, Helvetica, sans-serif;
}

/* Exercise 3: Monospaced Font Family */

#monospace-family {
    font-family: 'Courier New', Courier, monospace;
}

/* ~~~~~ External Fonts (Exercises) ~~~~~ */

/* Exercise 1: Roboto */

.roboto {
    font-family: "Roboto", sans-serif;
}

/* Exercise 2: Fascinete */

#fascinate {
    font-family: "Fascinate", cursive;
}

/* Exercise 3: Joan */
.joan {
    font-family: "Joan", serif;    
}
