/* Default body style */
body {
    background: #bcbfb5;
}

/* ~~~ Type of Units (Exercises) ~~~ */

/* Exercise 1: Absolutes */
#absolute {
    height: 3cm;
    width: 100pt;
    font-size: 30px;
    background: red;
}

/* Exercise 2: Relatives */
#relative {
    height: 20vh;
    width: 10%;
    font-size: 2rem;
    background: blue;

}   

/* ~~~ Text Manipulation (Exercises) ~~~ */

/* Exercise 1: text-decoration */
#underline {
    text-decoration: underline;
}

#overline {
    text-decoration: overline;
}

#trought {
    text-decoration: line-through;
}

/* Exercise 2: text-transform */

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

/* Exercise 3: text-align */

.align-center {
    text-align: center;
}

.align-right {
    text-align:right;
}

.align-left {
    text-align: left;
}

/* Exercise 4: Justify alignment */

.justify {
    text-align: justify;
}

/* ~~~ Font Size, Bolding & Style ~~~ */

/* Exercise 1: font-size */

/* Exercise 2: font-weight */

/* Exercise 3: font-style */