/* Default body style */
body {
    background: #bcbfb5;
}

/* ~~~~~ Content Box (Exercises) ~~~~~ */

/* Exercise 1 (Image) */
#orejudo {
    height: 400px;
    width: 50%;
}

/* Exercise 2 (Paragraph) */
.para-content {
    height: 300px;
    width: 70%;
    background: steelblue;
}

/* ~~~~~ Border Box (Exercises) ~~~~~ */

/* Exercise 1 (Thin border) */
.thin-border {
    border: 0.3rem solid black;
}

/* Exercise 2 (Thick border) */
.thick-border {
    border: 30vh double #84d376;
}