/* Default body style */
body {
    background: #bcbfb5;
}

.resize-img {
    height: 20rem;
    width: 35rem;
}

.bold-question {
    font-weight: 800;
}

/* -------- Flexbox CSS file -------- */

/* Start Flexbox Continaer Template */

.container {
    background-color: rgb(250, 250, 250);
    margin: 10px;
    padding: 5px;
}

.container-item {
    background: rgb(36, 130, 9);
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    
    height: 60px;
    width: 70px;
    line-height: 50px;
    margin: 10px;
}

.chunky {
    height: 300px;
}

/* End Flexbox Continaer Template */

/* ~~~~~ Start Exercises ~~~~~~ */



/* ---Create a Flex container (Exercise 1)--- */

.container {
    display: flex;
}

/* --- Flex Direction & Wrap --- */

/* Exercise 1 (Flex-direction column) */

.flex-column {
    flex-direction: column;
}

/* Exercise 2  (flex-direction reverse-row*/
.reverse-row {
    flex-direction: row-reverse;
}

/* Exercise 3 (flex-wrap) */
.wrap {
    flex-wrap: wrap;
}

/* Exercise 4 (reverse-wrap) */
#reverse-wrap {
    flex-wrap: wrap-reverse;
}

/* --- Content alignment --- */

/* Exercise 1 */
.just-end {
    justify-content: end;
}

/* Exercise 2 */
#just-spacearound {
    justify-content: space-around;
}

/* Exercise 3 */
.vert-center {
    align-items: center;
}

/* Exercise 4 */
#align-base {
    align-items: baseline;
}

.diff-base {
    line-height: 4cm;
    height: 8rem;
}


/* Exercise 5 */
.total-center {
    justify-content: center;
    align-items: center;
}

/* ~~~~~ End Exercises ~~~~~~ */