/* Default body style */
body {
    background: #bcbfb5;
}

.resize-img {
    height: 20rem;
    width: 35rem;
}

.bold{
    font-weight: 800;
}

/* Form Style */

.subtitle {
    color: rgb(200, 148, 30);
    font-family: "Sarabun", sans-serif;
}

input, textarea {
    display: block;
    margin: 10px;
}

.submit-button {
    margin: 20px 10px;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 1.03rem;
    color: white;
    background: rgb(89, 150, 255);
}


/* ----- Exercises ----- */

/* - The Transition Property - */

/* Exercise 1 */

.trans-color:hover {
    background: rgb(147, 187, 255);
}


.trans-color {
    transition: background 5s ease;
}

/* Exercise 2 */

.trans-size:hover{
    padding: 20px 30px;
}

.trans-size {
    transition: padding 500ms linear 2s;
}

/* - Transformation Functions - */

/* Exercise 1a */
#transform-trans {
    transform: translate(550px, -50px);
}

/* Exercise 1b */
.transform-scale {
    transform: scale(2);
}
/* Exercise 1c */
.transform-rotate {
    transform: rotate(180deg);
    margin: 8vh;
}

/* Exercise 1d */
#transform-skew {
    transform: skewX(60deg);
}
/* Exercise 2 */

.trans-matrix {
    transform: matrix(3, 0, 0.45, 3, 700, -55);
}

/* - Creating animations w/ Keyframes - */




/* Exercise 1 */

#animation-color-position {
    /* animation-name: red-to-black;
    animation-duration: 5s
    animation-timing: ease
    animation-iteration-count: 3
    animation-direction: reverse*/
    animation: red-to-gray 5s ease 0s 3 reverse;
}

@keyframes red-to-gray {
    0% {
        background: red;
        transform: translate(0px, 0px);
    }

    50% {
        background: yellow;
        transform: translate(10px, 10px);
    }

    100% {
        background: gray;
        transform: translate(20px, 20px);
    }
}